[submodule "mods/quests"]
	path = mods/quests
	url = https://github.com/MinetestForFun/quests.git
[submodule "mods/fishing"]
	path = mods/fishing
	url = https://github.com/MinetestForFun/fishing.git
[submodule "mods/mff/mff_hud"]
	path = mods/mff/mff_hud
	url = https://github.com/MinetestForFun/mff_hud.git
[submodule "mods/irc_modpack"]
	path = mods/irc_modpack
	url = https://github.com/MinetestForFun/irc_modpack.git
[submodule "mods/time_regulation"]
	path = mods/time_regulation
	url = git://github.com/MinetestForFun/time_regulation.git
[submodule "mods/minercantile"]
	path = mods/minercantile
	url = https://github.com/MinetestForFun/minercantile.git
[submodule "mods/profilerdumper"]
	path = mods/profilerdumper
	url = https://github.com/MinetestForFun/profilerdumper.git
[submodule "mods/xban2"]
	path = mods/xban2
	url = https://github.com/MinetestForFun/xban2.git
[submodule "mods/areas"]
	path = mods/areas
	url = https://github.com/MinetestForFun/areas.git
[submodule "mods/name_restrictions"]
	path = mods/name_restrictions
	url = https://github.com/MinetestForFun/name_restrictions.git
[submodule "mods/mysql_auth"]
	path = mods/mysql_auth
	url = https://github.com/MinetestForFun/mysql_auth.git
[submodule "mods/mapfix"]
	path = mods/mapfix
	url = https://github.com/minetest-mods/mapfix.git
[submodule "mods/technic"]
	path = mods/technic
	url = https://github.com/minetest-technic/technic.git
[submodule "mods/digilines"]
	path = mods/digilines
	url = https://github.com/minetest-mods/digilines.git
[submodule "mods/maidroid"]
	path = mods/maidroid
	url = https://github.com/tacigar/maidroid.git
[submodule "mods/pdisc"]
	path = mods/pdisc
	url = https://github.com/HybridDog/pdisc.git
[submodule "mods/enchanting"]
	path = mods/enchanting
	url = https://github.com/minetest-mods/enchanting.git
[submodule "mods/playeranim"]
	path = mods/playeranim
	url = https://github.com/minetest-mods/playeranim.git
[submodule "mods/morefarming"]
	path = mods/morefarming
	url = https://github.com/sys4-fr/morefarming.git
[submodule "mods/lightning"]
	path = mods/lightning
	url = https://github.com/minetest-mods/lightning.git
[submodule "mods/moreplants"]
	path = mods/moreplants
	url = https://github.com/sys4-fr/moreplants.git
	branch = master
[submodule "mods/moreflowers"]
	path = mods/moreflowers
	url = https://github.com/sys4-fr/moreflowers.git
	branch = master
[submodule "mods/claycrafter"]
	path = mods/claycrafter
	url = https://github.com/Dragonop/claycrafter.git
[submodule "mods/kpgmobs"]
	path = mods/kpgmobs
	url = https://github.com/sys4-fr/mod-kpgmobs.git
	branch = nalc
[submodule "mods/diet"]
	path = mods/diet
	url = https://github.com/sys4-fr/diet.git
[submodule "mods/food"]
	path = mods/food
	url = https://github.com/sys4-fr/food.git
[submodule "mods/food_sweet"]
	path = mods/food_sweet
	url = https://github.com/sys4-fr/food_sweet.git
[submodule "mods/mtfoods"]
	path = mods/mtfoods
	url = https://github.com/sys4-fr/mtfoods.git
[submodule "mods/mobs"]
	path = mods/mobs
	url = https://github.com/sys4-fr/mobs_redo.git
	branch = nalc
[submodule "mods/colouredstonebricks"]
	path = mods/colouredstonebricks
	url = https://github.com/davisonio/colouredstonebricks.git
[submodule "mods/pipeworks"]
	path = mods/pipeworks
	url = https://github.com/minetest-mods/pipeworks.git
[submodule "mods/h2omes"]
	path = mods/h2omes
	url = https://github.com/MinetestForFun/h2omes.git
[submodule "mods/player_physics"]
	path = mods/player_physics
	url = https://github.com/MinetestForFun/player_physics.git
[submodule "mods/moreores"]
	path = mods/moreores
	url = https://github.com/minetest-mods/moreores.git
[submodule "mods/stacktraceplus"]
	path = mods/stacktraceplus
	url = https://github.com/MinetestForFun/stacktraceplus.git
[submodule "mods/cherry_tree"]
	path = mods/cherry_tree
	url = https://github.com/sys4-fr/cherry_tree.git
[submodule "mods/weather_pack"]
	path = mods/weather_pack
	url = https://github.com/sys4-fr/weather_pack.git
	branch = nalc
[submodule "mods/toolranks"]
	path = mods/toolranks
	url = https://github.com/lisacvuk/minetest-toolranks.git
[submodule "mods/darkage"]
	path = mods/darkage
	url = https://github.com/adrido/darkage.git
[submodule "mods/mob_horse"]
	path = mods/mob_horse
	url = https://github.com/sys4-fr/mob_horse.git
	branch = nalc
[submodule "mods/playereffects"]
	path = mods/playereffects
	url = https://github.com/sys4-fr/playereffects.git
[submodule "mods/item_drop"]
	path = mods/item_drop
	url = https://github.com/tacotexmex/item_drop.git
[submodule "mods/unifieddyes"]
	path = mods/unifieddyes
	url = https://github.com/minetest-mods/unifieddyes.git
[submodule "mods/unifiedbricks"]
	path = mods/unifiedbricks
	url = https://github.com/minetest-mods/unifiedbricks.git
[submodule "mods/bobblocks"]
	path = mods/bobblocks
	url = https://github.com/rabbibob/BobBlocks.git
[submodule "mods/homedecor_modpack"]
	path = mods/homedecor_modpack
	url = https://github.com/minetest-mods/homedecor_modpack.git
[submodule "mods/unifiedwool"]
	path = mods/unifiedwool
	url = https://github.com/MT-Modder/unifiedwool.git
[submodule "mods/biome_lib"]
	path = mods/biome_lib
	url = https://github.com/minetest-mods/biome_lib.git
[submodule "mods/moretrees"]
	path = mods/moretrees
	url = https://github.com/minetest-mods/moretrees.git
[submodule "mods/plantlife_modpack"]
	path = mods/plantlife_modpack
	url = https://github.com/sys4-fr/plantlife_modpack.git
[submodule "mods/moremesecons"]
	path = mods/moremesecons
	url = https://github.com/minetest-mods/moremesecons.git
[submodule "mods/camera"]
	path = mods/camera
	url = https://github.com/sys4-fr/camera.git
[submodule "mods/3d_armor"]
	path = mods/3d_armor
	url = https://github.com/stujones11/minetest-3d_armor.git
[submodule "mods/technic_armor"]
	path = mods/technic_armor
	url = https://github.com/stujones11/technic_armor.git
[submodule "mods/connected_chests"]
	path = mods/connected_chests
	url = https://github.com/HybridDog/connected_chests.git
[submodule "minetest_game"]
	path = minetest_game
	url = https://github.com/minetest/minetest_game
	branch = stable-0.4
[submodule "mods/bakedclay"]
	path = mods/bakedclay
	url = https://notabug.org/TenPlus1/bakedclay.git
[submodule "mods/bonemeal"]
	path = mods/bonemeal
	url = https://notabug.org/TenPlus1/bonemeal.git
[submodule "mods/sea"]
	path = mods/sea
	url = https://sys4.fr/gogs/NotreAmiLeCube/sea.git
[submodule "mods/stained_glass"]
	path = mods/stained_glass
	url = https://gitlab.com/VanessaE/stained_glass.git
[submodule "mods/farming"]
	path = mods/farming
	url = https://notabug.org/TenPlus1/Farming.git
[submodule "mods/hazmat_suit"]
	path = mods/hazmat_suit
	url = https://github.com/stujones11/hazmat_suit.git
[submodule "mods/hudbars"]
	path = mods/hudbars
	url = https://sys4.fr/gogs/NotreAmiLeCube/hudbars.git
[submodule "mods/hbhunger"]
	path = mods/hbhunger
	url = https://sys4.fr/gogs/NotreAmiLeCube/hbhunger.git
[submodule "mods/mana"]
	path = mods/mana
	url = https://sys4.fr/gogs/NotreAmiLeCube/mana.git
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://sys4.fr/gogs/NotreAmiLeCube/moreblocks.git
[submodule "mods/coloredwood"]
	path = mods/coloredwood
	url = https://sys4.fr/gogs/NotreAmiLeCube/coloredwood.git
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://sys4.fr/gogs/NotreAmiLeCube/mesecons.git
[submodule "mods/boost_cart"]
	path = mods/boost_cart
	url = https://sys4.fr/gogs/NotreAmiLeCube/boost_cart.git
