[submodule "mods/quests"]
	path = mods/quests
	url = https://github.com/MinetestForFun/quests.git
[submodule "mods/fishing"]
	path = mods/fishing
	url = https://github.com/MinetestForFun/fishing.git
[submodule "mods/mff/mff_hud"]
	path = mods/mff/mff_hud
	url = https://github.com/MinetestForFun/mff_hud.git
[submodule "mods/irc_modpack"]
	path = mods/irc_modpack
	url = https://github.com/MinetestForFun/irc_modpack.git
[submodule "mods/time_regulation"]
	path = mods/time_regulation
	url = git://github.com/MinetestForFun/time_regulation.git
[submodule "mods/minercantile"]
	path = mods/minercantile
	url = https://github.com/MinetestForFun/minercantile.git
[submodule "minetestforfun_game/mods/stacktraceplus"]
	path = mods/stacktraceplus
	url = https://github.com/MinetestForFun/stacktraceplus.git
[submodule "mods/profilerdumper"]
	path = mods/profilerdumper
	url = https://github.com/MinetestForFun/profilerdumper.git
[submodule "mods/xban2"]
	path = mods/xban2
	url = https://github.com/MinetestForFun/xban2.git
[submodule "mods/areas"]
	path = mods/areas
	url = https://github.com/MinetestForFun/areas.git
[submodule "mods/name_restrictions"]
	path = mods/name_restrictions
	url = https://github.com/MinetestForFun/name_restrictions.git
[submodule "mods/mysql_auth"]
	path = mods/mysql_auth
	url = https://github.com/MinetestForFun/mysql_auth.git
[submodule "mods/mapfix"]
	path = mods/mapfix
	url = https://github.com/minetest-mods/mapfix.git
[submodule "mods/technic"]
	path = mods/technic
	url = https://github.com/minetest-technic/technic.git
[submodule "mods/digilines"]
	path = mods/digilines
	url = https://github.com/minetest-mods/digilines.git
[submodule "mods/maidroid"]
	path = mods/maidroid
	url = https://github.com/tacigar/maidroid.git
[submodule "mods/pdisc"]
	path = mods/pdisc
	url = https://github.com/HybridDog/pdisc.git
[submodule "mods/enchanting"]
	path = mods/enchanting
	url = https://github.com/minetest-mods/enchanting.git
[submodule "mods/bonemeal"]
	path = mods/bonemeal
	url = https://github.com/tenplus1/bonemeal.git
[submodule "mods/meshnode"]
	path = mods/meshnode
	url = https://github.com/stujones11/meshnode.git
[submodule "mods/playeranim"]
	path = mods/playeranim
	url = https://github.com/minetest-mods/playeranim.git
[submodule "mods/playereffects"]
	path = mods/playereffects
	url = git://repo.or.cz/minetest_playereffects.git
[submodule "mods/witchcraft"]
	path = mods/witchcraft
	url = https://github.com/D00Med/witchcraft.git
[submodule "mods/moreplants"]
	path = mods/moreplants
	url = https://github.com/D00Med/moreplants.git
[submodule "mods/moreflowers"]
	path = mods/moreflowers
	url = https://github.com/sys4-fr/moreflowers.git
[submodule "mods/morefarming"]
	path = mods/morefarming
	url = https://github.com/sys4-fr/morefarming.git
[submodule "mods/bakedclay"]
	path = mods/bakedclay
	url = https://github.com/tenplus1/bakedclay.git
[submodule "mods/lightning"]
	path = mods/lightning
	url = https://github.com/minetest-mods/lightning.git
[submodule "mods/weather_pack"]
	path = mods/weather_pack
	url = https://github.com/xeranas/weather_pack.git
